<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose the coding language</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

    <header>
        <div class="container">
            <h1>Choose a language to see the portfolio</h1>
        </div>
    </header>
    <section>
        <h2>python, </h2>
        <h3>Add your chosen language at the end of the url with a slash behind the language name, and it should be written how it is written above</h3>
    </section>

</body>
</html>