<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishwa's Python Development Portfolio</title>
    <link rel="stylesheet" href="../static/css/python.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Vishwa's Python Development Portfolio</h1>

    </div>
</header>

<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="project">
            <h3>Band name generator</h3>
            <p>It asks what is your name then it asks what is your pet name then it concatenates both inputs with a space in the middle and prints it out</p>
        </div>

        <div class="project">
            <h3>Tip Calculator</h3>
            <p>It asks what is the total amount of the bill then it asks how much percent tip do you want to give then it asks how much people do you want to share it with then it does the calculations and prints the tip every person should give</p>
        </div>

        <div class="project">
            <h3>Treasure Island</h3>
            <p>It prints out a treasure ascii symbol then it asks a lot of questions the next question depends on the answer of the previous questions</p>
        </div>

        <div class="project">
            <h3>Rock Paper Scissors</h3>
            <p>It asks 0 for rock, 1 for paper, 3 for scissors what do you choose then the computer takes a random choice then both of the choices are printed in ascii form then it calculates who won and prints who won</p>
        </div>

        <div class="project">
            <h3>Password Generator</h3>
            <p>It asks how many letters, how many symbols and how many numbers then it creates a strong password with all the inputs and prints it out</p>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <p>I am Vishwa. I like coding in it, I know HTML, CSS, Python, Swift</p>
    </div>
</section>

<div class="container" id="footer">
    <p>&copy; 2024 Vishwa's Python Portfolio</p>
</div>

</body>
</html>
