<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishwa's Python Development Portfolio</title>
    <link rel="stylesheet" href="../static/css/python.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Vishwa's Python Development Portfolio</h1>
    </div>
</header>

<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="project">
            <h3>1. Band name generator</h3>
            <p>It asks what is your name then it asks what is your pet name then it concatenates both inputs with a space in the middle and prints it out.</p>
        </div>

        <div class="project">
            <h3>2. Tip Calculator</h3>
            <p>It asks what is the total amount of the bill then it asks how much percent tip do you want to give then it asks how much people do you want to share it with then it does the calculations and prints the tip every person should give.</p>
        </div>

        <div class="project">
            <h3>3. Treasure Island</h3>
            <p>It prints out a treasure ascii symbol then it asks a lot of questions the next question depends on the answer of the previous questions.</p>
        </div>

        <div class="project">
            <h3>4. Rock Paper Scissors</h3>
            <p>It asks 0 for rock, 1 for paper, 3 for scissors what do you choose then the computer takes a random choice then both of the choices are printed in ascii form then it calculates who won and prints who won.</p>
        </div>

        <div class="project">
            <h3>5. Password Generator</h3>
            <p>It asks how many letters, how many symbols and how many numbers then it creates a strong password with all the inputs and prints it out.</p>
        </div>

        <div class="project">
            <h3>6. Creating functions and solving reeborgs word maze</h3>
            <p>Created functions to solve the maze in reeborgs world.</p>
        </div>

        <div class="project">
            <h3>7. Hangman</h3>
            <p>Created a hangman game which shows the man in ascii characters.</p>
        </div>

        <div class="project">
            <h3>8. Ceaser Sipher</h3>
            <p>It asks do you want to encode or decode then it will ask the word then it will ask the shift number then if it is encode it will add the shift number to each letter of the word and print the word otherwise if it is decode it will subtract the shift number by the word and print it out.</p>
        </div>

        <div class="project">
            <h3>9. Blind Auction</h3>
            <p>It prints a logo then asks your name then it will ask what is your bid then asks if there are any more bidders if so it clears the screen and asks it again otherwise if there are no bidders it checks who is the winner and prints it out.</p>
        </div>

        <div class="project">
            <h3>10. Calculator</h3>
            <p>It asks the first number then the operator then the second number after that it does the operator on the two numbers then it asks do you want to continue with the answer as the first number and continue with that number if no it ends.</p>
        </div>

        <div class="project">
            <h3>11. Blackjack</h3>
            <p>It gives us two cards and the computer gets two card but one is hidden then it will ask us do you want another card until we say no or the sum of our card go above 21 then we lose otherwise we are below 21 and the computer is higher than that but below 22 then the computer wins otherwise we win.</p>
        </div>

        <div class="project">
            <h3>12. Number guessing game</h3>
            <p>It asks easy or hard easy gives 10 chances and hard gives 5 then the computer chooses a random number then we have to guess it before our chances are up if the choice is lower than the number it will say too low otherwise it will say too high if we get the number we guessed is correct it say you got it right.</p>
        </div>

        <div class="project">
            <h3>13. Higher lower</h3>
            <p>It will print the logo then a person with followers then th vs logo then another person with followers we have to find out which person has more followers.</p>
        </div>

        <div class="project">
            <h3>14. Coffee machine</h3>
            <p>It asks what do you want then it checks for the resources if they are enough then it will subtract the resources needed then it will ask for money if the money is enough it will.</p>
        </div>

        <div class="project">
            <h3>15. OOP Coffee machine</h3>
            <p>OOP implementation of the coffee machine.</p>
        </div>

        <div class="project">
            <h3>16. OOP Coffee machine</h3>
            <p>OOP implementation of the coffee machine.</p>
        </div>

        <div class="project">
            <h3>17. OOP Quiz game</h3>
            <p>It asks 12 true or false questions after you finish all questions it tells your score.</p>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <p>I am Vishwa. I like coding in it, I know HTML, CSS, Python, Swift</p>
    </div>
</section>

<div class="container" id="footer">
    <p>&copy; 2024 Vishwa's Python Portfolio</p>
</div>

</body>
</html>
